<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IServiceAudioPlayer" maxReceivedMessageSize="104857600">
					<readerQuotas maxStringContentLength="104857600"/>
				</binding>
			</basicHttpBinding>
		</bindings>
        <client>
            <endpoint address="http://localhost:8301/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceAudioPlayer"
                contract="ServiceAudio.IServiceAudioPlayer" name="BasicHttpBinding_IServiceAudioPlayer" />
        </client>
    </system.serviceModel>
</configuration>